.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5;
}

.description code {
  font-family: var(--font-geist-mono);
  background: var(--gray-alpha-100);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-weight: 600;
}
